@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");
@import "reset";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 140px;
}

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 140px;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 12px;
      &:first-child {
        li {
          margin-right: 30px;
        }
      }
    }
  }
}
.hero {
  height: 100vh;
  background-image: url("http://ojsfile.ohmynews.com/STD_IMG_FILE/2016/0516/IE001963941_STD.jpg");
  width: 100%;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
  h3 {
    font-size: 30px;
    width: 40%;
    text-align: center;
  }
  .hero-box {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 25px;
    color: white;
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
  }
}

.under-hero {
  width: 100%;
  display: flex;
  height: 100hv;
  margin-bottom: 81px;
  img {
    width: 50%;
    height: 80vh;
  }
  .hero__content {
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    h4 {
      margin-bottom: 19px;
      font-size: 12px;
      text-transform: uppercase;
    }
    h3 {
      width: 55%;
      font-size: 30px;
      margin-bottom: 63px;
    }
    a {
      text-decoration: none;
      display: flex;
      color: black;
      .content {
        text-transform: uppercase;
        font-size: 12px;
        border: 1px solid black;
        padding: 20px 80px;
      }
      .Icon {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 10px;
      }
      &:hover {
        background-color: black;
        color: white;
        fill: white;
      }
    }
  }
}
.blog {
  background-color: bisque;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60vh);
  .blog__post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // img {
    //   height: 100%;
    //   width: 100%;
    //   object-fit: cover;
    // }
    .crop {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        z-index: 1;
        position: absolute;
      }
    }
    .post__content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &:nth-child(even) {
      .post__content {
        order: -1;
      }
    }
  }
}
